</div>
</div>
</div><!-- /.container -->

<footer class="btt">
  <p class="text-center">© Copyright 2020 Jorge Galvez</p>
  <p class="text-center">&COPY; Aromas Sagrados</p>
  <p class="text-center"><i class="fas fa-store"></i> Calle 5 de febrero #21 int. 21 local 104</p>
  <p class="text-center">C.P. : 06000 , Delegación Cuahutemoc</p>
  <p class="text-center"><i class="fas fa-phone-alt"></i> Tel: 55122514</p>
  <p class="text-center"><i class="fab fa-whatsapp"></i> Whatsapp: 5542422415</p>
  <p class="text-center"><a class="btn btn-outline-secondary" href="https://www.facebook.com/aromassagradoss/"><i class="fab fa-facebook-square"></i></a></p>
  <hr>
</footer>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
          <script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
          <script src="/js/main.js"></script>
</body>
</html>
