<%- include('partials/header') %>

<div>
    <h1 class="hem">Distribuidor autorizado de HEM en mexico</h1>
    <img class="hem-i" src="/images/hem.png" alt="">
</div>

<hr class="jump-s">

<div class="gif-i">
    <img src="/images/inicio.gif" alt="Funny image">
</div>

<hr class="jump-s">

<div class="">

    <img class="banner" src="/images/hem-incense-banner.jpg" alt="">

</div>

<hr class="jump-s">

<div class="intro" id="testimonials2">

        <section class="colored-section" id="testimonials">

          <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h2 class="testimonial-text">Debido a la pandemia , y siguiendo los estrictos regimenes de control santiario solo podemos abrir 3 dias a la semana </h2>
                <!-- <img class="testimonial-image" src="images/dog-img.jpg" alt="dog-profile"> -->
                <em>Atentamente Aromas Sagrados</em>
              </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">Bienvenidos a Aromas Sagrados el mejor lugar de la CDMX para comprar inciensos por mayoreo, veladoras , escencias , artesanias indues etc...</h2>
              <!-- <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile"> -->
              <em>Precios mas accesibles para su negocio o uso personal </em>
                </div>
            </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
          </div>

        </section>

</div>

<hr class="jump-s">

<div class="ubicanos rgba-gradient" id="ubicanos">
  <h2 class="ubc">Nuestra ubicación</h2>
  <p align="center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.5914019488605!2d-99.13699908520046!3d19.430052545797192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fed2792c6a9d%3A0xb3be42979bae1569!2s5%20de%20Febrero%2021%2C%20Centro%20Hist%C3%B3rico%20de%20la%20Cdad.%20de%20M%C3%A9xico%2C%20Centro%2C%20Cuauht%C3%A9moc%2C%2006000%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1595653024695!5m2!1ses-419!2smx" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </p>
  <h2 class="ubc">Nos ubicamos en 5 de febrero # 21 int. 104 , colonia Centro, delegación Cuahutemoc, C.P. 06000 </h2>
  <h2 class="ubc">Esquina con Republica de Uruguay, nos encontramos en el primer piso , la entrada es por 5 de febrero</h2>
  <h2 class="ubc">Tel: 55122514</h2>
  <h2 class="ubc">Cel: 5542422415</h2>

</div>

<hr class="jump-s">

<div class="contactenos rgba-gradient" id="contactenos">

            <div class="container">
            <h2 class="text-center ubc">Aromas Sagrados</h2>
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">


                            <!--Form with header-->

                            <form action="mail.php" method="post">
                                <div class="card border-secondary rounded-0">
                                    <div class="card-header p-0">
                                        <div class="bg-secondary text-white text-center py-2">
                                            <h3><i class="fa fa-envelope"></i> Contactanos</h3>
                                            <p class="m-0">Con gusto te ayudaremos</p>
                                        </div>
                                    </div>
                                    <div class="card-body p-3">

                                        <!--Body-->
                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="fa fa-user text-secondary"></i></div>
                                                </div>
                                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre y Apellido" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="fa fa-envelope text-secondary"></i></div>
                                                </div>
                                                <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@ejemplo.com" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="fa fa-envelope text-secondary"></i></div>
                                                </div>
                                                <input type="email" class="form-control" id="subject" name="subject" placeholder="Asunto" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="fa fa-comment text-secondary"></i></div>
                                                </div>
                                                <textarea class="form-control" id="message" placeholder="Envianos tu Mensaje" required></textarea>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <input type="submit" value="Enviar" class="btn btn-secondary btn-block rounded-0 py-2">
                                        </div>
                                    </div>

                                    <?php
                                        if(isset( $_POST['name']))
                                        $name = $_POST['name'];
                                        if(isset( $_POST['email']))
                                        $email = $_POST['email'];
                                        if(isset( $_POST['message']))
                                        $message = $_POST['message'];
                                        if(isset( $_POST['subject']))
                                        $subject = $_POST['subject'];

                                        $content="From: $name \n Email: $email \n Message: $message";
                                        $recipient = "permex_importacion@hotmail.com";
                                        $mailheader = "From: $email \r\n";
                                        mail($recipient, $subject, $content, $mailheader) or die("Error!");
                                        echo "Mensaje enviado con exito!";
                                  ?>

                                </div>
                            </form>

                        </div>
          </div>
          </div>

</div>

<p>
<p>

<hr class="ftt">

<%- include('partials/footer') %>
